div(class='ui input ${data.hasIcon} ${data.hasAction} ${data.focus} ${data.loading} ${data.error} ${data.align} ${data.labeled}')
  xif('$data.label')
    .ui.label
      $data.label
  input(type='$data.type', placeholder='$data.placeholder')
  xif('$data.icon')
    ui-icon(icon='$data.icon')
  xif('$data.menu')
    .menu
      for(each='item in data.menu.items')
      .item $item.label
  xif('$data.link')
    a.ui.tag.label $data.link
  xif('$data.action')
    button.ui.button ${data.action || data.action.label}
